*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

.pickboxx-logo {
  width: 25rem;
  height: 9rem;
}

.header-flex {
  /* border: solid black 1px; */
  display: inline-block;
}

.header-flex a {
  position: relative;
  bottom: 30px;
  left: 200px;
  margin-right: 50px;
  /* padding-right: 50px; */
  font-size: 2rem;
  text-decoration: none;
  color: rgb(77, 73, 73);
}

.header-flex a:hover{
  background-color: rgba(77, 73, 73, 0.5);
  border-radius: 50px;
  padding: 5px;
  position: static;
}

.boxx-array {
  display: grid;
  grid-template-columns: repeat(auto-fill, 600px);
  position: relative;
  left: 250px;
}

.boxx-container{
  width: 400px;
  height: 400px;
}

.boxx {
  border: solid black 1px;
  width: 300px;
  height: 300px;
}

.post-info {
  display: flex;
  flex-direction: row;
}

.boxx-comment{
  margin-top: 10px;
  margin-left: 2px;
  height: 20px;
  width: 250px;
}

.profile-comment{
  border: solid black 1px;
  width: 45px;
  height: 45px;
}
