html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  position: relative;
  overscroll-behavior: contain;
  overflow-x: hidden;
}

div#viewport {
  position: absolute;
  top: 0;
  width: 100%;
}

.pickboxx-logo {
  width: 25rem;
  height: 9rem;
}

.boxx-details .header-flex{
  position: absolute;
  right: 0.5px;
}

.header-flex {
  border: solid black 1px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100vw;
}

.header-flex a {
  text-align: center;
  display: inline-block;
  position: relative;
  top: 30px;
  padding: 10px;
  font-size: 1.5rem;
  height: 20px;
  text-decoration: none;
  background-color: transparent;
  color: rgb(77, 73, 73);
}

.header-flex a:hover {
  background-color: rgba(77, 73, 73, 0.5);
  border-radius: 50px;
  padding: 10px;
}

.profile-icon {
  position: relative;
  top: 20px;
  width: 50px;
  height: 50px;
}

.boxx-search-div {
  padding: 10px 0 10px 0;
  display: block;
}

.boxx-search {
  position: absolute;
  top: 100px;
  left: 33.2%;
  width: 500px;
  height: 30px;
  border-radius: 50px;
  padding-left: 10px;
}

/* .boxx-search#search {
  background-image: url(https://cdn3.iconfinder.com/data/icons/ui-thick-outline-2-of-5/100/ui_04_of_9-15-512.png);
  background-repeat: no-repeat;
  margin-left: 20px;
} */

input:focus {
  outline: none;
}

.boxx-nav {
  position: absolute;
  top: 150px;
  left: 33.7%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.boxx-nav a {
  border: solid black 2px;
  text-decoration: none;
  color: rgb(77, 73, 73);
  width: 90px;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  float: left;
  display: block;
}

.boxx-nav a:hover {
  background-color: rgba(77, 73, 73, 0.5);
}

.boxx-array {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, 40vw);
  position: relative;
  left: 270px;
  top: 300px;
  text-align: center;
}

.duels .boxx-array {
  position: relative;
  margin-right: 10%;
}

#box1 {
  position: absolute;
  left: 28.2%;
  top: 40%;
}

#box2 {
  position: absolute;
  right: 30%;
  top: 40%;
}

#box3{
  position: absolute;
  top: 100%;
  left: 28.2%;
}

#box4{
  position: absolute;
  top: 100%;
  right: 30%;
}

.duel-profile {
  width: 50px;
  height: 50px;
  border: solid black 1px;
  position: absolute;
  right: 83%;
}

.duel-profile-mirror {
  width: 50px;
  height: 50px;
  border: solid black 1px;
  position: absolute;
  left: 83%;
}

.duel-profile-comment{
  width: 25px;
  height: 25px;
  margin-top: 50px;
}


.bracket-icon {
  width: 30px;
  height: 30px;
  border: solid black 1px;
  border-radius: 100px;
  position: absolute;
  top: 75%;
  right: 89%;
}

.bracket-icon-mirror {
  width: 30px;
  height: 30px;
  border: solid black 1px;
  border-radius: 100px;
  position: absolute;
  top: 75%;
  left: 89%;
}

.duel-checkbox {
  position: absolute;
  top: 90%;
  right: 92%;
}

.duel-checkbox-mirror {
  position: absolute;
  top: 90%;
  left: 92%;
}

.prompt {
  display: inline;
  position: absolute;
  margin: 0;
  right: 0.5%;
  font-weight: 900;
  top: 100%;
  width: 600px;
  background-color: rgba(77, 73, 73, 0.1);
}

.prompt p{
  margin-left: 10px;
}

.duel-vote-comment {
  width: 20px;
  height: 20px;
  border: solid black 1px;
}

.duel-comments2 {
  position: absolute;
  top: 95%;
  left: 20%;
  display: flex;
  flex-direction: column;
}

.single-duel-comment {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: 40px;
  position: relative;
  right: 320%;
}

.single-duel-comment p{
  position: relative;
  bottom: 10px !important;
}


.duel-comment-p {
  position: absolute;
  left: 150%;
  bottom: 1%;
}

.boxx {
  position: relative;
}

.boxx-img {
  width: 300px;
  height: 300px;
}

.expand {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 279px;
}

.boxx-container {
  width: 400px;
  height: 400px;
}

.boxx {
  border: solid black 1px;
  position: absolute;
  width: 300px;
  height: 300px;
}

.boxx-mirror {
  border: solid black 1px;
  position: absolute;
  width: 300px;
  height: 300px;
}

.desc-and-comments {
  display: flex;
  flex-direction: column;
}

.post-info {
  position: relative;
  top: 300px;
  display: flex;
  flex-direction: row;
}

.boxx-description {
  margin-top: 10px;
  height: 20px;
  width: 250px;
  margin-left: 3px;
}

.profile-comment {
  border: solid black 1px;
  width: 45px;
  height: 45px;
}

.comment-profile-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 70%;
  right: 78%;
}

.desc-comment {
  position: absolute;
  top: 70%;
  right: 52%;
  text-align: left;
}

.second-comment-profile-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 130%;
  right: 78%;
}

.second-desc-comment {
  position: absolute;
  top: 130%;
  right: 47%;
  text-align: left;
}

.rank {
  margin-left: 100px;
  padding-left: 20px;
}

.rank div {
  text-align: center;
  margin-right: 100px;
}

.boxx-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boxx-details__image {
  border: solid black 1px;
  position: relative;
  width: 700px;
  height: 500px;
  top: 205px;
}

.full-boxx-desc {
  margin-left: 2px;
  height: 100px;
  font-size: 1.3rem;
}

.boxx-profile-and-name {
  opacity: 0;
}

.boxx-profile-and-name:hover {
  opacity: 1;
}

.boxx-details__comments {
  border: solid black 1px;
  width: 350px;
  height: 510px;
  position: relative;
  top: 200px;
}

.boxx-details__profile {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.product-name {
  position: absolute;
  left: 100px;
  background-color: black;
  color: white;
  font-size: 2rem;
  border-radius: 100px;
  padding: 5px;
}

.boxx-details__post {
  position: absolute;
  z-index: -1;
  /* left: 15%; */
  width: 700px;
  height: 500px;
}

.boxx-details__comments {
  display: flex;
  flex-direction: column;
}

.boxx-details__comments-single {
  display: flex;
  flex-direction: row;
}

.comment-string {
  margin-left: 2px;
}

.boxx-details__profile-comment {
  border: solid black 1px;
  width: 40px;
  height: 40px;
}

.leaderboard-header {
  position: relative;
  /* bottom: 50px; */
  left: 15px;
}

.leaderboards-page {
  display: flex;
  flex-direction: row;
}

.leaderboards {
  margin-left: 20px;
  font-size: large;
  width: 180px;
  height: 690px;
  margin-top: 200px;
}

.rank {
  border: solid black 1px;
  margin-left: 10px;
  padding-left: 35px;
}
.userposition {
  margin-bottom: 20px;
}

.full-leaderboard-link {
  font-size: 1rem;
  margin-left: 30px;
}

.boxx-column {
  display: grid;
  grid-template-columns: repeat(1);
  position: absolute;
  top: 31%;
  left: 40%;
}

.toppickercontainer {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, 40vw);
  position: relative;
  top: 300px;
  left: 20%;
}
.followbutton {
  position: absolute;
  right: 0%;
}
.userinfo {
  position: absolute;
  font-size: medium;
  left: 40%;
  top: 10%;
  text-align: left;
}
.usericon {
  position: absolute;
  left: 10%;
  top: 10%;
  border: solid black 1px;
  border-radius: 100%;
}
.profile-pic {
  width: 60px;
  height: 60px;
}

.dropdown {
  position: absolute;
  left: 12%;
  top: 35%;
}
.dropdowns {
  float: left;
}

.dropdown-toggle {
  width: 50px;
  height: 20px;
  color: black;
  background-color: transparent;
}

.toppickerboxx {
  border: solid black 1px;
  display: grid;
  position: relative;
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.nav_user_btn {
  background-image: url("https://www.greenecountyfoundation.org/wp-content/uploads/2019/09/Profile-Icon.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  display: inline-block;
  position: relative;
  top: 30px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding-left: 10px;
  padding-right: 35px;
  background-color: transparent;
  border: none;
  outline: none;
}

.dropdown-toggle.btn.btn-primary {
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 10px;
}

.dropdown-item {
  left: 0%;
  background-color: transparent;
  border: solid, 0.5px, black;
}
.item_image {
  height: 50px;
  width: 50px;
}
.picker_item {
  position: absolute;
  top: 45%;
  left: 25%;
}

.toppicker_array {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, 40vw);
  position: relative;
  left: 20%;
  top: 20%;
  text-align: center;
}
.login_panel {
  position: absolute;
  top: 100px;
  left: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.login_logo {
  width: 25rem;
  height: 9rem;
  margin-bottom: 10px;
  border-bottom: solid black 1px;
  padding-left: 16px;
  padding-right: 16px;
}

.login_option {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 90%;
}

.login_option a {
  font-size: 1.3rem;
}

.username_input {
  width: 269px;
  height: 30px;
  margin-bottom: 10px;
}

.google_login {
  background-color: red !important;
  width: 283px;
  border-radius: 0 !important;
  border: none !important;
  margin-top: 20px;
}

.google_login div {
  padding: 15px 17px 15px 16px !important;
  border-radius: 0 !important;
  background-color: darkred !important;
}

.google_login span {
  color: white;
  font-size: 1.7rem;
  font-weight: bold !important;
}

.twitter_login svg {
  width: 260px !important;
  border: none !important;
}

.line {
  display: block;
  margin: 25px;
}

.line h3 {
  text-align: center;
  border-bottom: solid black 1px;
  position: relative;
}

.line h3 span {
  background-color: white;
  position: relative;
  top: 5px;
  padding: 0 9px;
}

.options-text {
  background-color: white;
}

.metro {
  padding: 18px 23px 18px 0px !important;
}

.facebook-login {
  border: none !important;
}

.fa-facebook::before {
  background-color: #3f528b;
  padding: 20px 20px 20px 20px;
}

.twitter-login-button svg rect {
  border-radius: 0px !important;
  width: 283px;
}

.twitter-login-button {
  margin-top: 20px;
}

.twitter-button {
  display: flex;
  flex-direction: row;
  background-color: #4fc5e1;
  font-size: 1.7rem;
  font-weight: bold;
  height: 51px;
  position: relative;
  border: none;
  width: 283px;
  color: white;
}

.twitter-button p {
  position: absolute;
  left: 22%;
}

.fa-twitter::before {
  position: absolute;
  bottom: 1px;
  right: 82%;
  width: 18px;
  height: 18px;
  background-color: #3894b9;
  padding: 14px 16px 18px 16px;
}

.switch {
  position: absolute;
  top: 20%;
  left: 42%;
  width: 200px;
  height: 40px;
  border: 1px black solid;
}
.switch_btn {
  background-color: transparent;
  color: black;
  border: none;
  margin-top: 10px;
  margin-left: 25px;
}

.filterbar {
  position: fixed;
  left: 1%;
  top: 300px;
  font-size: large;
}
.filteritem {
  margin-bottom: 10px;
}

.profile-info-container {
  border: 1px solid black;
  width: 100%;
  height: 330px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.profile-picture {
  margin: 10px auto;
  margin-top: 100px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-username {
  position: absolute;
  left: 22%;
  top: 36%;
}

/*.profile-pic-and-name-section,
.profile-stats-section {
  border: 1px solid black;
} */

.profile-pic-and-name-section {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
}

.profile-stats-section {
  grid-column: 2/3;
  margin-top: 100px;
}

.profile-stat-item {
  text-align: left;
  width: 50%;
  margin: 40px auto;
}

.profile-photo-video-boxx-buttons {
  display: flex;
  grid-column: 1/3;
  justify-content: space-around;
  width: 100%;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.profile-photo-video-boxx-buttons>div {
  width: 100%;
  /* border: 1px solid black; */
}

.profile-nav-button {
  display: block;
  width: 20%;
  text-decoration: none;
  color: black;
  background-color: white;
  border: none;
  height: 100%;
  padding: 20px 50px;
  text-align: center;
}

.profile-nav-button:hover {
  background-color: grey;
}

.profile-photos-videos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* height: 1000px; */
  border-top: 1px solid black;
  border-left: 1px solid black;
  justify-content: space-between;
  padding: 0;
}

.photo-video-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49.93%;
  margin: 0px;
  height: 70vh;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.photo-video-item-image {
  height: 65%;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  border: 1px solid black;
}

.photo-video-item-image>img {
  height: 100%;
  width: 100%;
}

.photo-video-item-name {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  height: 12%;
  font-size: 1.6em;
  /* margin: auto 0; */
}

.product-img{
  width: 200px;
  height: 200px
}

.boxx_info{
  margin-top: 55%;
  margin-right: 25%;
}

.boxx_info div{
  margin-top: 5px;
}

.landing-page{
  text-align: center;
}

.info-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.info-container div{
  width: 420px;
}

.info1{
  border-right: solid black 1px;
  padding-right: 40px;
}

.sell{
  font-size: 4rem;
}

.info1 p{
  font-size: 1.5rem;
}

.info2{
  border-right: solid black 1px;
  padding-right: 40px;
}

.info2 p{
  font-size: 1.5rem;
}

.info3 p{
  font-size: 1.5rem;
}

.demo-container{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.demo1{
  height: 300px;
  width: 300px;
  box-shadow: 5px 5px 15px;
}

.demo2{
  height: 300px;
  width: 300px;
  box-shadow: 5px 5px 15px;
}

.demo3{
  height: 300px;
  width: 300px;
  box-shadow: 5px 5px 15px;
}

.demo-img{
  height: 300px;
  width: 300px;
} 

.join-now{
  margin-top: 50px;
  width: 200px;
  height: 40px;
  background-color: #4fc5e1;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 5px 5px 15px;
}

.join-now:hover{
  background-color: white;
}



@media only screen and (max-width: 1430px) {
  .duels .boxx {
    width: 250px;
    height: 250px;
  }

  .box1{
    width: 400px;
    height: 400px;
  }

  .duels .boxx-mirror {
    width: 250px;
    height: 250px;
  }

  .duel-profile {
    width: 40px;
    height: 40px;
  }

  .duel-profile-mirror {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 1000px) {

/* .duels .boxx-container{
  width: 400px;
  height: 400px;
} */

/* .duels .boxx-array{
  grid-template-columns: repeat(2);
} */

  /* .duels .boxx {
    width: 200px;
    height: 200px;
  } */

  /* .duels .boxx-mirror {
    width: 200px;
    height: 200px;
  } */

  .pickboxx-logo {
    width: 18rem;
    height: 6rem;
  }

  .header-flex a {
    position: relative;
    top: 15px;
  }

  .profile-icon {
    position: relative;
    bottom: 30px;
    width: 30px;
    height: 30px;
  }

  .boxx-search {
    position: relative;
    top: 70px;
    left: 33.2% auto;
  }

  .boxx-nav {
    position: relative;
    top: 80px;
  }

  .boxx-details__image {
    top: 90px;
  }

  .boxx-details__comments {
    top: 85px;
  }

  .boxx-array {
    display: grid;
    grid-template-columns: repeat(1, 20vw);
  }
}
